.faq-section {
  text-align: center;
  padding: 60px;
  @media only screen and (max-width: 1400px) {
    padding: 40px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 40px 30px;
  }
  @media only screen and (max-width: 600px) {
    padding: 40px 20px;
  }
  .faq-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.8px;
    text-align: center;
    color: #0a4d3c;
    @media only screen and (max-width: 570px) {
      font-size: 36px;
      line-height: 40px;
    }
    @media only screen and (max-width: 400px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .faq-subtitle {
    font-weight: 500;
    font-size: 21.6px;
    line-height: 33.6px;
    letter-spacing: 0px;
    text-align: center;
    color: #0d0d0db2;
    margin-bottom: 20px;
  }
  .ContactUs {
    text-align: start;
  }

  .faq-container {
    margin-top: 50px;
    // max-width: 800px;
    // margin: 0 auto;
  }

  .faq-item {
    background: #e0f7f4;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #d1f0eb;
    }

    .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: start;
      font-weight: 500;
      font-size: 24px;
      line-height: 28.8px;
      letter-spacing: -0.8px;
      color: #0b5d46;
      @media only screen and (max-width: 640px) {
        font-size: 22px;
        line-height: 32px;
        text-align: start;
      }
      @media only screen and (max-width: 400px) {
        font-size: 20px;
        line-height: 28px;
        text-align: start;
      }
    }

    .icon {
      transition: transform 0.3s ease;
    }

    .rotate {
      transform: rotate(180deg);
    }

    .faq-answer {
      margin-top: 10px;
      color: #333;
      text-align: left;
      font-weight: 400;
      font-size: 24px;
      line-height: 33.6px;
      letter-spacing: -0.8px;
    }
  }
}
