.hero-section {
  background: url("../../assets/Hero/group-bg.png") no-repeat center
    center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 780px;
  // overflow: hidden;
  // position: relative;
  padding: 0 10%;
  margin-top: -80px;
  @keyframes bounceEffect {
    0%,
    100% {
      position: relative;
    }

    50% {
      position: static;
    }
  }
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // max-width: 1300px;
    position: relative;
    
    .text-container {
      height: 700px;
      margin-bottom: -380px;
      //   position: absolute;
      padding: 10px;
      width: 80%;
      margin-left: -60px;
      z-index: 2;
      position: relative;
      h1 {
        width: 600px;
        font-size: 70px;
        font-weight: 900;
        color: white;
        line-height: 1.2;
        mix-blend-mode: difference;
      }
      .highlight {
        color: #00FFEA;
      }

      p {
        font-size: 20px;
        line-height: 30px;
        width: 364px;
        text-transform: capitalize;
        color: #ddd;
        margin: 15px 0 20px;
        mix-blend-mode: difference;
      }
      .doctor-img {
        // border: 1px solid red;
        position: absolute;
        top: 26px;
        left: 285px;
        height: 521px;
        z-index: -1;
        mix-blend-mode: multiply;
      }
      .buttons {
        margin-top: 40px;
        display: flex;
        gap: 15px;

        img {
          border: 1px solid rgb(255, 255, 255);
          border-radius: 8px;
          width: 150px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          animation: pulseEffect 2s infinite ease-in-out;
        }
        img:hover {
          transform: scale(1.1);
          animation: bounceEffect 0.6s infinite ease-in-out,
            glowEffect 1.2s infinite alternate;
        }

        img:active {
          scale: 0.9;
          transition: 0.3s ease-out;
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.938);
        }
        @keyframes bounceEffect {
          0%,
          100% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(-2px);
          }
        }

        @keyframes glowEffect {
          0% {
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
          }

          50% {
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
          }

          100% {
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
          }
        }
        @keyframes pulseEffect {
          0%,
          100% {
            transform: scale(1);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
          }

          50% {
            transform: scale(1.01);
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
          }
        }
      }
    }

    .images-container {
      width: 45%;
      height: 800px;
      position: relative;
      
      .left-mobile {
        position: absolute;
        left: -320px ;
        height: 600px;
        z-index: 1;
        bottom: -90px;
      }
      
      .right-mobile {
        position: absolute;
        right: -50px;
        bottom: -120px;
        height: 750px;
        z-index: 3;
      }
    }
    
  }
}

//
